/* 레이아웃 */

#header { background: url(../img/header_bg.jpg) repeat-x center top; }

#nav { background-color: #f6fdff; }

#title { background-color: #eaf7fd; }

#contents { }

#content_left { 
    float: left; 
    width: 250px; 
 }

#content_center { 
    overflow: hidden;
    min-height: 1000px;
    margin-right: 250px; 
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
} 

#content_right { 
    position: absolute;
    right: 0;
    top: 0; 
    width: 250px; 
}

#contents .container {
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

#footer {
    border-top: 1px solid #dbdbdb;
 }


/* 컨테이너 */
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    height: 327px;
}

.header_menu {
    text-align: right;
}

.header_menu a {
    display: inline-block;
    color: #fff;
    padding: 8px 0 6px 10px;
    transition: color .3s ease;
}

.header_menu a:hover {
    color: #ccc;
}

.header_title {
    text-align: center;      
    text-transform: uppercase; 
    margin-top: 80px;
    font-family: 'Abel', sans-serif;   
}

.header_title h1 {
    display: inline-block;
    font-size: 50px;
    color: #fff;
    background: transparent;
    padding: 5px 30px 5px 30px;
    letter-spacing: 2px;
    font-weight: 900;
}

.header_icon {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 45px;
}

.header_icon li {
    display: inline;
    margin: 0 8px;
}

.header_icon li a {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #3192bf;
    font-size: 35px;
    line-height: 60px;
}

.header_icon li a span {
    position: absolute;
    left: 50%;
    top: -40px;
    font-size: 12px;
    line-height: 1.6;
    background: #3192bf;
    transform: translateX(-50%);
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.header_icon li a span:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -5px;
}

.header_icon li a:hover span {
    opacity: 1;
}

/* 전체 메뉴 */
.nav {
    overflow: hidden;
    padding: 25px 0;
}

.nav div {
    float: left;
    width: 40%;
}

.nav div:last-child {
    width: 20%;
}

.nav div ol {
    overflow: hidden;
}

.nav > div li {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 8px;
    box-sizing: border-box;
}

.nav > div li:before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}

.nav div li a {
    position: relative;
}

.nav div li a:after {
    display: inline-block;
    content: '';
    width: 0;
    height: 1px;
    background: #25aad0;
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav div li:hover a:after {
    width: 100%;
}

.nav div:last-child li {
    width: 100%;
}

.nav div h3 {
    font-size: 18px;
    color: #25a2d0;
    font-weight: bold;
    margin-bottom: 4px;
}

/* 타이틀 */
.title {
    text-align: center;
}

.title h2 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 39px;
    color: #0093bd;
    padding: 5px 0;
}

/* 컨텐츠 */
.column { padding: 15px; border-bottom: 1px solid #dbdbdb; }
.column .col_title { font-size: 20px; color: #2f7fa6; padding-bottom: 5px; }
.column .col_description { border-bottom: 1px dashed #dbdbdb; padding-bottom: 15px; margin-bottom: 15px; color: #878787; line-height: 18px; }
.column.col1 { }
.column.col2 { }
.column.col3 { border-bottom: 0; }
.column.col4 { }
.column.col5 { }
.column.col6 { border-bottom: 0; }
.column.col7 {  }
.column.col8 { }
.column.col9 { border-bottom: 0; }

/* 메뉴 */
.menu { }

.menu li { position: relative;}

.menu li a { 
    font-size: 16px; 
    text-transform: uppercase; 
    color: #878787; 
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    display: block; 
    transition: box-shadow 0.34s ease, background 0.34s ease;                         
}

.menu li a i { position: absolute; right: 10px; top: 15px; }

.menu li a:hover {
    box-shadow: inset 180px 0 0 0 rgba(36, 130, 174, 0.7);
    color: #fff;
    background-color: rgba(36, 130, 174, 0.9);
}


/* mediaquery */

/*화면 너비 0 ~ 1220 */
@media (max-width : 1220px) {
    .container { width: 100%; }
    .row { padding: 0 15px; }
    #contents .container { border: 0; }
}

/*화면 너비 0 ~ 1024 */
@media (max-width : 1024px) {

}

/*화면 너비 0 ~ 960 */
@media (max-width : 960px) {
    .nav div { float: none; width: 100%; }
    .nav div:last-child { width: 100%;}
    .nav div li { width: 33.33333%; }
    .nav div:last-child li { width: 33.33333%; }
    .nav div ol { margin-bottom: 10px; }
    #content_right {
        position: static;
        width: 100%; 
        border-top: 1px solid #dbdbdb;
    }
    #content_center { margin-right: 0; border-right: 0;}
}

/*화면 너비 0 ~ 781 */
@media (max-width : 781px) {
    .header_title h1 { font-size: 35px; }
    #content_left {float: none; width: 100%;}
    #content_center { margin-right: 0; border-left: 0; }
    .menu li a {
        transition: box-shadow 0.15s ease, background 0.15s ease;   
    }
    .menu li a:hover {
        box-shadow: inset 630px 0 0 0 rgba(36, 130, 174, 0.7);
        color: #fff;
        background-color: rgba(36, 130, 174, 0.9);
    } 
}

@media (max-width : 591px) {
    .header_title { margin-top: 60px;}
    .nav div li { width: 50%; }
    .nav div:last-child li { width: 50%; }

    .column.col1 .col_title { display: none; }
    .column.col1 .col_description { display: none; }
    .column.col1 { border-bottom: 0; padding: 0; }
    .column.col1 .menu ul { overflow: hidden; }
    .column.col1 .menu li { 
        float: left; 
        width: 33.3333%; 
        text-align: center; 
        border-right: 1px solid #dbdbdb;
        box-sizing: border-box;
    }
    .column.col1 .menu li:nth-child(3n) { border-right: 0; }
    .column.col1 .menu li a { text-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
}
/*화면 너비 0 ~ 480 */
@media (max-width : 480px) {

}