/* 레이아웃 */

#header {
    background: url(../img/header_bg.jpg) repeat-x center top;
}

/* 컨테이너 */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    height: 327px;
}

.header_menu {
    text-align: right;
}

.header_menu a {
    display: inline-block;
    color: #fff;
    padding: 8px 0 6px 10px;
    transition: color .3s ease;
}

.header_menu a:hover {
    color: #ccc;
}

.header_title {
    text-align: center;      
    text-transform: uppercase; 
    margin-top: 80px;
    font-family: 'Abel', sans-serif;   
}

.header_title h1 {
    display: inline-block;
    font-size: 50px;
    color: #fff;
    background: transparent;
    padding: 5px 30px 5px 30px;
    letter-spacing: 2px;
    font-weight: 900;
}

.header_icon {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 45px;
}

.header_icon li {
    display: inline;
    margin: 0 8px;
}

.header_icon li a {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #3192bf;
    font-size: 35px;
    line-height: 60px;
}

.header_icon li a span {
    position: absolute;
    left: 50%;
    top: -40px;
    font-size: 12px;
    line-height: 1.6;
    background: #3192bf;
    transform: translateX(-50%);
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.header_icon li a span:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -5px;
}

.header_icon li a:hover span {
    opacity: 1;
}



/* mediaquery */
@media (max-width : 1200px) {
    .container {
        width: 100%;
    }
    .row {
        padding: 0 15px;
    }
}
