body {
    display: flex;
    background-color: #f1f2f6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc( 80vh - 16px );

    font-family: 'Rubik', 'Nanum Gothic', sans-serif; color: #2f3542;
}

h1 {
    margin: 0;
    font-size: 7em;
    color : #34495e;
    transition: color 0.5s ease-in-out;
}

.clicked {
    color : #7f8c8d;
}

.form {
    display: none;
}

.showing { 
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity : 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation : fadeIn .4s linear;
}
