/* 스킵 내비게이션 */
#skip { position: relative; }
#skip a { position: absolute; left: 0; top: -35px; border: 1px solid #fff; color: #fff; line-height: 30px; text-align: center; background: #333; }
#skip a:active,
#skip a:focus { top: 0; }

/* 레이아웃 */
#wrap { }
#header {  height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;}
#contents { }
#footer { height: 200px; background-color: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav { background-color:#f9fdff; }
#cont_tit { background-color: #EAF7FD; }
#cont_ban { background-color: #dceff7;  } 
#cont_cont { background-color: #f6fdff;  }

/* 레이아웃 */
.container { width: 990px; height: inherit; margin: 0 auto; }

/* 헤더 */
.header { }
.header-menu { text-align: right; }
.header-menu a { padding: 10px 0px 10px 13px; display: inline-block; color: #fff; }
.header-menu a:hover { color: #666; }
.header-tit { text-align: center; }
.header-tit h1 { 
    text-transform: uppercase; 
    color: #fff; 
    padding: 5px 20px 6px 20px;  
    background-color: #4aa8d4; 
    display: inline-block; 
    font-weight: normal; 
    margin-top: 40px;    
    font-size: 28px;
}
.header-tit a { display: inline-block; background-color: #2698cb; font-size: 18px; color:#fff; padding: 5px 20px 6px 20px; margin-top: -5px; }
.header-icon { text-align: center; margin-top: 30px; }
.header-icon a { display: inline-block; width: 60px; height: 60px; border-radius: 50%; background: url(../img/icon.png); margin: 0 3px;}
.header-icon a.icon1 { background-position: 0 0; }
.header-icon a.icon2 { background-position: 0 -60px; }
.header-icon a.icon3 { background-position: 0 -120px; }
.header-icon a.icon4 { background-position: 0 -180px; }
.header-icon a.icon1:hover { background-position: -60px 0; }
.header-icon a.icon2:hover { background-position: -60px -60px; }
.header-icon a.icon3:hover { background-position: -60px -120px; }
.header-icon a.icon4:hover { background-position: -60px -180px; }


/* float : left로 인한 영역깨짐 (height: 0 이 되는 현상) 방지법 
1. 깨지는 영역에 똑같이 float: left 를 사용한다. (좋지 않다) --> 모든 박스에 float: left를 사용하게 되므로 
2. float의 성질을 차단하는 clear: both 를 사용한다. --> 어떤 영역이 깨졌는지 찾기 어려움 
3. float을 사용한 상위 박스한테 overflow: hidden 을 사용 --> 현재는 제일 많이 사용되는 방법이다. 
4. clearfix를 사용한다. 
*/

/* 전체 메뉴 */
.nav { overflow: hidden; padding: 30px 0; }
.nav > div { float: left; width: 40%; }
.nav > div:last-child { width: 20%; } /* :last-child => IE9부터 사용 가능 */
.nav div h3 { font-size: 18px;  color:#25a2d0; margin-bottom: 4px;}
.nav > div ol { overflow: hidden; }
.nav > div ol li { float: left; width: 50%; padding-bottom: 2px; }
/* .nav > div.last ol li { width: 100%; } */
.nav > div:last-child ol li { width: 100%; }
.nav div ol li:hover { text-decoration: underline; }

/* 타이틀 */
.title { text-align: center; position: relative; }
.title h2 { font-size: 40px; color:#2c94c4; padding: 5px 0; font-family: 'Nanum Brush Script', cursive; letter-spacing: 2px; }
.title .btn { width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px; position: absolute; right: 0; top: 5px; }

/* 배너 */
.banner { position: relative; padding: 24px 0 20px;}
.banner a.prev { position: absolute; left: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px 0;}
.banner a.next { position: absolute; right: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px -43px; }
.banner a.prev:hover { background-position: -193px 0; }
.banner a.next:hover { background-position: -193px -43px; }
.banner ul { overflow: hidden; }
.banner ul li { float: left; width: 330px; }
.banner ul li:last-child { text-align: right; }
.banner ul li:nth-child(2) { text-align: center; }
.banner ul li img { border: 4px solid #dcdcdc; }
.banner ul li img:hover { border-color: #98dcdc}

/* 컨텐츠 */
.cont { overflow: hidden; padding-top: 30px; }
.cont .column { float: left; position: relative; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px; }
.cont .col1 { border-right: 1px solid #d0d0d0; }
.cont .col2 { border-right: 1px solid #d0d0d0; }
.cont .col3 { margin-right: 0; padding-right: 0; }
.cont .col4 { border-right: 1px solid #d0d0d0; }
.cont .col5 { border-right: 1px solid #d0d0d0; }
.cont .col6 { margin-right: 0; padding-right: 0; }

.cont .column .ico_img { display: block; position: absolute; left: 0; top: 0; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat; }
.cont .column .ico_tit { padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}

.cont .col1 .ico_img { background-position: 0 -240px; }
.cont .col2 .ico_img { background-position: 0 -300px; }
.cont .col3 .ico_img { background-position: 0 -360px; }
.cont .col4 .ico_img { background-position: 0 -420px; }
.cont .col5 .ico_img { background-position: 0 -480px; }
.cont .col6 .ico_img { background-position: 0 -540px; }

.cont .col1 .ico_img:hover { background-position: -60px -240px; }
.cont .col2 .ico_img:hover { background-position: -60px -300px; }
.cont .col3 .ico_img:hover { background-position: -60px -360px; }
.cont .col4 .ico_img:hover { background-position: -60px -420px; }
.cont .col5 .ico_img:hover { background-position: -60px -480px; }
.cont .col6 .ico_img:hover { background-position: -60px -540px; }

/* 게시판 */
.notice { position: relative; }
.notice h4 { font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px; }
.notice ul { }
.notice ul li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 0 9px; padding-left: 10px; }
.notice ul li a {font-size: 12px;}
.notice a.more { display: block; position: absolute; right: 0; top: 0; background: url(../img/icon.png) no-repeat -150px -90px; width: 17px; height: 17px; }

.notice2 { position: relative; margin-top: 20px; }
.notice2 h4 { font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px; }
.notice2 ul { }
.notice2 ul li { overflow: hidden; background: url(../img/dot.gif) no-repeat 0 9px; padding-left: 10px;  }
.notice2 ul li a { float: left; font-size: 12px; width: 70%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; } 
.notice2 ul li span { float: right; text-align: right; width: 30%; }
.notice2 a.more { display: block; position: absolute; right: 0; top: 0; background: url(../img/icon.png) no-repeat -150px -90px; width: 17px; height: 17px; }

.notice3 { position: relative; }
.notice3 h4 { font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px;}
.notice3 li { position: relative; padding: 8px 0 14px 60px; }
.notice3 img { width: 50px; position: absolute; left: 0; top: 0; border: 1px solid #0093bd; }
.notice3 a strong { display: block; }
.notice3 a span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px; }
.notice3 a.more { display: block; position: absolute; right: 0; top: 0; background: url(../img/icon.png) no-repeat -150px -90px; width: 17px; height: 17px;}

.notice4 { }
.notice4 h4 { font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px; }
.notice4 ul { overflow: hidden; }
.notice4 li { float: left; width: 93px; margin-right: 5px; text-align: center; }
.notice4 li:last-child { margin-right: 0px; }
.notice4 img { width: 100%; }
.notice4 li a span { display: block; width: 93px; height: 93px; position: relative; line-height: 93px;}
.notice4 li a span em { visibility: hidden; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); color: #fff; width: 100%; height: 100%; }
.notice4 li a strong { padding-top: 3px; display: inline-block;}
.notice4 li a span:hover em { visibility: visible; }

.notice4_1 { margin-top: 15px; }
.notice4_1 ul { overflow: hidden; }
.notice4_1 li { float: left; width: 93px; margin-right: 5px; text-align: center; }
.notice4_1 li:last-child { margin-right: 0px; }
.notice4_1 img { width: 100%; }
.notice4_1 li a span { position: relative;  display: block; width: 93px; height: 93px; }
.notice4_1 li a span em { visibility: hidden; position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); color: #fff; width: 100%; }
.notice4_1 li a strong { display: inline-block; padding-top: 3px; }
.notice4_1 li a span:hover em { visibility: visible; }


/* 콘텐츠 요소를 보이지 않게 하는 방법 
1. display:none; (영역이 사라짐)
2. visibility: hidden; (영역 유지)
3. opacity : 0;  
4. width: 0; height: 0; overflow: hidden;
*/

/* 탭 메뉴 */
.tab_menu { position: relative; border: 1px solid #ccc; padding: 8px; height: 105px; }
.tab_menu ul { overflow: hidden; border-bottom: 1px solid #ccc; }
.tab_menu ul li { float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tab_menu ul li a { padding: 5px 10px; display: block; }
.tab_menu ul li ul { position: absolute; left: 0; top: 48px; width: 270px; border: 0; }
.tab_menu ul li ul li { float: none; border: 0; background: url(../img/dot.gif) no-repeat 9px 8px; padding-left: 18px;  }
.tab_menu ul li ul li a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; padding: 0 0 3px 0; }
.tab_menu ul li.active { background: #2c94c4; }
.tab_menu ul li.active a { color: #fff; }
.tab_menu ul li.active ul li a { color: #333 }


.notice5 { margin-top: 15px; border: 1px solid #ccc; position: relative;}
.notice5 h4{ font-size: 14px; font-weight: bold; color: #0093bd; padding: 8px 10px; border-bottom: 1px solid #ccc; }
.notice5 h4 em { color: #cf3292; }
.notice5 ul { padding: 10px; }
.notice5 ul li { overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; padding-bottom: 2px;}
.notice5 ul li a { float: left; width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.notice5 ul li span { float: right; width: 30%; text-align: right; }
.notice5 .more { position: absolute; top: 9px; right: 9px; }

/* 갤러리 */
.gallery { position: relative; border: 1px solid #ccc; height: 254px; overflow: hidden; }
.gallery h4 { font-size: 14px; font-weight: bold; color: #0093bd; padding: 8px 10px; border-bottom: 1px solid #ccc; }
.gallery_btn { position: absolute; right: 5px; top: 7px; }
.gallery_btn ul { overflow: hidden; }
.gallery_btn li { float: left; margin: 1px 2px; }
.gallery_btn li a { display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;  }
.gallery .gallery_btn li.gb_icon1 a {background-position: -150px -120px}
.gallery .gallery_btn li.gb_icon2 a {background-position: -150px -143px}
.gallery .gallery_btn li.gb_icon3 a {background-position: -150px -166px}
.gallery .gallery_btn li.gb_icon4 a {background-position: -150px -189px}
.gallery .gallery_btn li.gb_icon1 a:hover {background-position: -173px -120px}
.gallery .gallery_btn li.gb_icon2 a:hover {background-position: -173px -143px}
.gallery .gallery_btn li.gb_icon3 a:hover {background-position: -173px -166px}
.gallery .gallery_btn li.gb_icon4 a:hover {background-position: -173px -189px}
.gallery .gallery_img img {width: 100%;}

/* 로그인 */
#login-wrap { background: #f2f4f5; padding: 15px; margin-bottom: 15px; }
.login_header { overflow: hidden; font-size: 12px; height: 30px; }
.login_header .lh_check { float: left; padding-right: 15px; }
.login_header .lh_check .input_check { vertical-align: -2px;}
.login_header .lh_ip { float: left; }
.login_header .lh_ip em { color: #0093bd; text-decoration: underline; }
.login_content { position: relative; }
.login_content .lc_text { }
.login_content .input_text { width: 180px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; margin-bottom: 3px; background: #fff; }
.lc_btn { position: absolute; right: 0; top: 0; width: 62px; height: 47px; background: #fff; border: 1px solid #bebebe;}
.login_footer { margin-top: 5px; }
.login_footer li { display: inline; }
.login_footer li a { font-size: 12px;} 

/* 팝업 */
.popup { }
.popup h4 { font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px; }
.popup ul { overflow: hidden; }
.popup li { float: left; width: 93px; margin-right: 5px; }
.popup li:last-child { margin-right: 0;}
.popup li img { width: 100%; }