/* 레이아웃 */
#wrap { width: 100%; }
#header { width: 100%; height: 325px; background-color: #111; }
#contents { width: 100%; height: 800px; background-color: #222; }
#footer { width: 100%; height: 200px; background-color: #333;}