/* 레이아웃 */
#wrap { width: 100%; }
#header { width: 100%; height: 325px; background-color: #111; }
#contents { width: 100%; height: 800px; background-color: #222; }
#footer { width: 100%; height: 200px; background-color: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav { width: 100%; height: 200px; background-color: #111; }
#cont_tit { width: 100%; height: 200px; background-color: #222;  }
#cont_ban { width: 100%; height: 200px; background-color: #333;  } 
#cont_cont { width: 100%; height: 200px; background-color: #444;  }

/* 레이아웃 */
.container { width: 990px; height: inherit; margin: 0 auto;  background: rgba(255,255,255,0.3); }