/* layout */
#header { height: 89px; border-bottom: 1px solid #efefef; }
#banner { }
#search-domain { height: 110px; background-color: #fbfaf8; border-top: 1px solid #efefef; }
#sbanner { }
#select { background-color: #1d7abd; }
#infor { }
#ad { position: relative;  background: url(../img/ad_bg.jpg) no-repeat center top; background-size: cover; z-index: 1; } 
#ad::before { content: ''; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; }
#blog { }
#site { }
#footer { }

/* container */
.container { width: 1180px; height: inherit;  margin: 0 auto; } /* 블록요소를 가운데 정렬하기 위해서는 { margin: 0 auto }  */

/* skip */
.skip { position: relative; }
.skip a { position: absolute; left: 0; top: -50px; width: 140px; border: 1px solid #444; background-color: #333; color: #fff; text-align: center; padding: 10px 0; }
.skip a:focus, .skip a:active { top: 0; }

/* header */
.header { overflow: hidden; }
.header h1 { float: left; padding-top: 24px; padding-right: 30px; }
.header .gnb { float: left; }
.header .gnb li { display: inline; }
.header .gnb li a { font-size: 18px; padding: 32px 12px; display: inline-block; }
.header .quick { float: right; }
.header .quick li { display: inline; position: relative; }
.header .quick li a { display: inline-block; font-size: 14px; padding: 34px 11px 34px 8px; color: #676767; }
.header .quick li::before { content: ''; width: 1px; height: 10px; background: #ccc; position: absolute; right: 0; top: 1px; }
.header .quick li:last-child::before { width: 0; height: 0;}
.header a:hover { color: #1d7abd; }

/* mGnb */
.mGnb { display: none; position: absolute; left: 5px; top: 12px; }
.mGnb .bar-wrap { width: 50px; height: 50px; }
.mGnb .bar-wrap .bar { position: absolute; left: 10px; width: 30px; height: 3px; background-color: #000;  }
.mGnb .bar-wrap .bar.one { top: 10px; }
.mGnb .bar-wrap .bar.two { top: 17px; }
.mGnb .bar-wrap .bar.three { top: 24px; }

/* search */
.search { display: none; position: absolute; right: 5px; top: 15px; width: 50px; height: 40px; text-align: center; line-height: 40px; }
.search i { font-size: 20px; }

/* banner */
.banner { padding: 115px 50px; }
.banner h2 { font-size: 46px; line-height: 55px; }
.banner p { font-size: 18px; padding: 20px 0; color: #666; font-weight: 300; }
.banner em { font-size: 18px; color: #f66b05; display: block; }
.banner .view { display: inline-block; font-size: 16px; margin-top: 50px; border: 1px solid #333; padding: 12px 42px; background-color: #fff; transition: all .3s ease;}
.banner .view:hover { background-color: #000; color: #fff;}
.banner-img1 { background: url(../img/banner-bg3.jpg) no-repeat center top; }
.banner-img2 { background: url(../img/banner-bg3.jpg) no-repeat center top; }
.banner-img3 { background: url(../img/banner-bg3.jpg) no-repeat center top; }

/* search */
.search-domain { padding: 25px 0; }
.search-domain span { font-size: 36px; padding-right: 15px; }
.search-domain .input-text { width: 900px; font-size: 24px; line-height: 55px; border: 1px solid #ccc; padding-left: 20px; }
.search-domain a { background-color: #3090d6; width: 130px; height: 60px; color: #fff; font-size: 20px; display: inline-block; text-align: center; line-height: 60px; margin-left: 15px; }

/* sbanner */
.sbanner { overflow: hidden; padding: 70px 0;  }
.sbanner div { float: left; width: 25%; }
.sbanner div h4 { font-size: 24px; padding-bottom: 4px; }
.sbanner div h4 i { padding-left: 8px;}
.sbanner div h4:hover { text-decoration: underline; }
.sbanner div p { font-size: 16px; color: #676767; }

/* select */
.select { overflow: hidden; padding: 70px 0; }
.select h3 { float: left; font-size: 40px; width: 25%; color: #fff;}
.select > div { float: left; width: 17.5%; background-color: #2886ca; margin-left: 1.5%; padding: 3%; height: 300px;}
.select > div.simg1 { background: #2886ca url(../img/select-bg1.png) no-repeat 30px 210px; background-size: 90px; }
.select > div.simg2 { background: #2886ca url(../img/select-bg2.png) no-repeat 30px 220px; background-size: 90px; }
.select > div.simg3 { background: #2886ca url(../img/select-bg3.png) no-repeat 30px 230px; background-size: 90px; }
.select > div h4 { font-size: 18px; color: #fff; padding-bottom: 20px; } 
.select > div p { font-size: 15px; color: #fff; }

/* info */
.infor { padding: 70px 0; text-align: center; }
.infor h3 { font-size: 40px; padding-bottom: 20px; font-weight: 300; }
.infor p { font-size: 18px; color: #666; padding-bottom: 30px; }
.infor .infor-box { overflow: hidden; text-align: left; padding: 0 210px; }
.infor .infor-box h4 { font-size: 16px; color: #333; }
.infor .infor-box h4 i { color: #0081c8;}
.infor .infor-box .in-left { float: left; width: 50%; border-right: 1px solid #ccc; box-sizing: border-box; }
.infor .infor-box .in-left em { font-size: 24px; color: #333; width: 170px; display: inline-block; font-weight: 700; }
.infor .infor-box .in-left strong { font-size: 30px; color: #0081c8 }
.infor .infor-box .in-right { float: left; width: 50%; padding-left: 50px; box-sizing: border-box; }
.infor .infor-box .in-right li { font-size: 16px; color: #666; }

/* ad */
.ad { padding: 70px 0; text-align: center; z-index: 10; position: relative; } /*z-index를 사용하기 위해서는 position이 있어야 한다. */
.ad h3 { font-size: 40px; padding-bottom: 20px; color: #fff; }
.ad p { font-size: 16px; color: #fff; }
.ad .view { font-size: 16px; padding: 12px 42px; margin-top: 50px; color: #fff; display: inline-block; border: 1px solid #fff; transition: all .3s ease; }
.ad .view:hover { background: #fff; color: #000;}





/* mediaquery */
@media (max-width : 1200px ) {
    #header { height: 60px; }
    #search-domain { display: none; }

    .container { width: 100%; }
    .row { padding: 0 15px; }

    /* header */
    .header h1 { float: none; text-align: center; padding-top: 16px; padding-right: 0px; }
    .header h1 img { width: 80px; }
    .header .gnb { display: none; }
    .header .quick { display: none; }
    /* mGnb */
    .mGnb { display: block; }
    /* search */
    .search { display: block; }
    /* infor */
    .infor .infor-box { padding: 0% 20%; }
    .infor .infor-box .in-left {  width: 100%; text-align: center; padding-bottom: 5%; border-right: 0; }
    .infor .infor-box .in-left em { width: auto; }
    .infor .infor-box .in-right { width: 100%; text-align: center; padding-left: 0; }
    /* ad */
    .ad h3 { padding: 0 10% 5% 10%; }
    .ad p { padding: 0 30%; }
}

@media (max-width : 1024px ) {
    .sbanner { padding: 20px 0; }
    .sbanner div { width: 50%; margin-bottom: 30px; text-align: center; }
    .select h3 { width: 38%; margin: 1%; padding: 5%; }
    .select > div { width: 38%; margin: 1%; padding: 5%; }
    .select > div.simg1 { background: #2886ca url(../img/select-bg1.png) no-repeat 12% 80%; background-size: 80px; }
    .select > div.simg2 { background: #2886ca url(../img/select-bg2.png) no-repeat 12% 80%; background-size: 90px; }
    .select > div.simg3 { background: #2886ca url(../img/select-bg3.png) no-repeat 12% 80%; background-size: 90px; }
}

@media (max-width : 768px ) {
    .banner { padding: 40px 20px 50px 20px; text-align: center; position: relative; z-index: 20; }
    .banner::before { content: ''; width: 100%; height: 100%; background-color: rgba(139,179,255,0.3); position: absolute; left: 0; top: 0; z-index: -1; }
    .banner h2 { font-size: 30px; line-height: 45px; }
    .banner p { font-size: 14px; padding: 20px 0; }
    .banner .view { margin-top: 20px; background: none; padding: 7px 32px; }

    .infor { padding: 40px 0; }
    .infor h3 { font-size: 24px; }
    .infor p { font-size: 14px; padding-bottom: 30px; }
    .infor .infor-box { padding: 0; }
    .infor .infor-box .in-left em { font-size: 18px; }
    .infor .infor-box .in-left strong { font-size: 24px; } 

    .ad { padding: 40px 0;}
    .ad h3 { font-size: 23px; padding: 0 0 5% 0; }
    .ad p { font-size: 14px; padding: 0; }
    .ad .view { padding: 7px 32px; margin-top: 30px; }
}

@media (max-width : 600px) {
    .sbanner div h4 { font-size: 18px; }
    .sbanner div p { font-size: 14px; }
    .select { padding: 20px 0; }
    .select h3 { font-size: 22px; max-height: 150px; }
    .select div { height: auto; max-height: 150px; }
    .select div br { display: none; }
    .select > div.simg1 { background: none; background-color: #2886ca; }
    .select > div.simg2 { background: none; background-color: #2886ca; }
    .select > div.simg3 { background: none; background-color: #2886ca; }
}

@media (max-width : 400px) {
    .sbanner div { width: 100%; }
    .sbanner div p br { display: none; }
    .select h3 br { display: none; font-size: 20px; }
    .select h3 { width: 100%; padding-left: 0; }
    .select div { width: 100%; box-sizing: border-box; }
}