#wrap { }
#header { height: 89px; border-bottom: 1px solid #efefef; }
#banner { height: 550px; background: url(../img/banner-bg3.jpg) no-repeat center top; border-bottom: 1px solid #efefef; }
#sbanner { }
#select { height: 489px; background-color: #ef5350; }
#infor { height: 515px; background-color: #f44336; }
#ad { height: 451px; background-color: #e53935; }
#blog { height: 1000px; background-color: #d32f2f; }
#site { height: 500px; background-color: #b71c1c; }
#footer { height: 300px; background-color: #ff8a80; }

/* container */
.container { width: 1180px; height: inherit;  margin: 0 auto; } /* 블록요소를 가운데 정렬하기 위해서는 { margin: 0 auto }  */

/* header */
.header { overflow: hidden; }
.header h1 { float: left; padding-top: 24px; padding-right: 30px; }
.header .gnb { float: left; }
.header .gnb li { display: inline; }
.header .gnb li a { font-size: 18px; padding: 32px 12px; display: inline-block; }
.header .quick { float: right; }
.header .quick li { display: inline; position: relative; }
.header .quick li a { display: inline-block; font-size: 14px; padding: 34px 11px 34px 8px; color: #676767; }
.header .quick li::before { content: ''; width: 1px; height: 10px; background: #ccc; position: absolute; right: 0; top: 1px; }
.header .quick li:last-child::before { width: 0; height: 0;}
.header a:hover { color: #1d7abd; }

/* banner */
.banner { padding: 115px 50px; }
.banner h2 { font-size: 46px; line-height: 55px; }
.banner p { font-size: 18px; padding: 20px 0; color: #666; font-weight: 300; }
.banner em { font-size: 18px; color: #f66b05; display: block; }
.banner .view { display: inline-block; font-size: 16px; margin-top: 50px; border: 1px solid #333; padding: 12px 42px; background-color: #fff; transition: all .3s ease;}
.banner .view:hover { background-color: #000; color: #fff;}

/* sbanner */
.sbanner { overflow: hidden; padding: 70px 0;  }
.sbanner > div { float: left; width: 25%; }
.sbanner > div h4 { font-size: 24px; padding-bottom: 4px; }
.sbanner > div h4 i { padding-left: 8px;}
.sbanner > div h4:hover { text-decoration: underline; }
.sbanner > div p { font-size: 16px; color: #676767; }
