#wrap { }
#header { height: 89px; border-bottom: 1px solid #efefef; }
#banner { height: 550px; background: url(../img/banner-bg3.jpg) no-repeat center top; border-bottom: 1px solid #efefef; }
#sbanner { }
#select { background-color: #1d7abd; }
#infor { }
#ad { height: 451px; background-color: #e53935; }
#blog { height: 1000px; background-color: #d32f2f; }
#site { height: 500px; background-color: #b71c1c; }
#footer { height: 300px; background-color: #ff8a80; }

/* container */
.container { width: 1180px; height: inherit;  margin: 0 auto; } /* 블록요소를 가운데 정렬하기 위해서는 { margin: 0 auto }  */

/* header */
.header { overflow: hidden; }
.header h1 { float: left; padding-top: 24px; padding-right: 30px; }
.header .gnb { float: left; }
.header .gnb li { display: inline; }
.header .gnb li a { font-size: 18px; padding: 32px 12px; display: inline-block; }
.header .quick { float: right; }
.header .quick li { display: inline; position: relative; }
.header .quick li a { display: inline-block; font-size: 14px; padding: 34px 11px 34px 8px; color: #676767; }
.header .quick li::before { content: ''; width: 1px; height: 10px; background: #ccc; position: absolute; right: 0; top: 1px; }
.header .quick li:last-child::before { width: 0; height: 0;}
.header a:hover { color: #1d7abd; }

/* banner */
.banner { padding: 115px 50px; }
.banner h2 { font-size: 46px; line-height: 55px; }
.banner p { font-size: 18px; padding: 20px 0; color: #666; font-weight: 300; }
.banner em { font-size: 18px; color: #f66b05; display: block; }
.banner .view { display: inline-block; font-size: 16px; margin-top: 50px; border: 1px solid #333; padding: 12px 42px; background-color: #fff; transition: all .3s ease;}
.banner .view:hover { background-color: #000; color: #fff;}

/* sbanner */
.sbanner { overflow: hidden; padding: 70px 0;  }
.sbanner > div { float: left; width: 25%; }
.sbanner > div h4 { font-size: 24px; padding-bottom: 4px; }
.sbanner > div h4 i { padding-left: 8px;}
.sbanner > div h4:hover { text-decoration: underline; }
.sbanner > div p { font-size: 16px; color: #676767; }

/* select */
.select { overflow: hidden; padding: 70px 0; }
.select h3 { float: left; font-size: 40px; width: 25%; color: #fff;}
.select > div { float: left; width: 17.5%; background-color: #2886ca; margin-left: 1.5%; padding: 3%; height: 300px;}
.select > div.simg1 { background: #2886ca url(../img/select-bg1.png) no-repeat 30px 210px; background-size: 90px; }
.select > div.simg2 { background: #2886ca url(../img/select-bg2.png) no-repeat 30px 220px; background-size: 90px; }
.select > div.simg3 { background: #2886ca url(../img/select-bg3.png) no-repeat 30px 230px; background-size: 90px; }
.select > div h4 { font-size: 18px; color: #fff; padding-bottom: 20px; } 
.select > div p { font-size: 15px; color: #fff; }

/* info */
.infor { padding: 70px 0; text-align: center; }
.infor h3 { font-size: 40px; padding-bottom: 20px; font-weight: 300; }
.infor p { font-size: 18px; color: #666; padding-bottom: 30px; }
.infor .info-box { overflow: hidden; text-align: left; padding: 0 210px; }
.infor .info-box h4 { font-size: 16px; color: #333; }
.infor .info-box h4 i { color: #0081c8;}
.infor .info-box .in-left { float: left; width: 50%; border-right: 1px solid #ccc; box-sizing: border-box; }
.infor .info-box .in-left em { font-size: 24px; color: #333; width: 170px; display: inline-block; font-weight: 700; }
.infor .info-box .in-left strong { font-size: 30px; color: #0081c8 }
.infor .info-box .in-right { float: left; width: 50%; padding-left: 50px; box-sizing: border-box; }
.infor .info-box .in-right li { font-size: 16px; color: #666; }