#wrap { }
#header { height: 89px; border-bottom: 1px solid #efefef; }
#banner { border-bottom: 1px solid #efefef; }
#sbanner { }
#select { background-color: #1d7abd; }
#infor { }
#ad { position: relative;  background: url(../img/ad_bg.jpg) no-repeat center top; background-size: cover; z-index: 1; } 
#ad::before { content: ''; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; }
#blog { }
#site { background-color: #f8f9fa;}
#footer { }

/* container */
.container { width: 1180px; height: inherit;  margin: 0 auto; } /* 블록요소를 가운데 정렬하기 위해서는 { margin: 0 auto }  */

/* skip */
.skip { position: relative; }
.skip a { position: absolute; left: 0; top: -50px; width: 140px; border: 1px solid #444; background-color: #333; color: #fff; text-align: center; padding: 10px 0; }
.skip a:focus, .skip a:active { top: 0; }

/* header */
.header { overflow: hidden; }
.header h1 { float: left; padding-top: 24px; padding-right: 30px; }
.header .gnb { float: left; }
.header .gnb li { display: inline; }
.header .gnb li a { font-size: 18px; padding: 32px 12px; display: inline-block; }
.header .quick { float: right; }
.header .quick li { display: inline; position: relative; }
.header .quick li a { display: inline-block; font-size: 14px; padding: 34px 11px 34px 8px; color: #676767; }
.header .quick li::before { content: ''; width: 1px; height: 10px; background: #ccc; position: absolute; right: 0; top: 1px; }
.header .quick li:last-child::before { width: 0; height: 0;}
.header a:hover { color: #1d7abd; }

/* banner */
.banner { padding: 115px 50px; }
.banner h2 { font-size: 46px; line-height: 55px; }
.banner p { font-size: 18px; padding: 20px 0; color: #666; font-weight: 300; }
.banner em { font-size: 18px; color: #f66b05; display: block; }
.banner .view { display: inline-block; font-size: 16px; margin-top: 50px; border: 1px solid #333; padding: 12px 42px; background-color: #fff; transition: all .3s ease;}
.banner .view:hover { background-color: #000; color: #fff;}
.banner-img1 { background: url(../img/banner-bg3.jpg) no-repeat center top; }
.banner-img2 { background: url(../img/banner-bg3.jpg) no-repeat center top; }
.banner-img3 { background: url(../img/banner-bg3.jpg) no-repeat center top; }

/* sbanner */
.sbanner { overflow: hidden; padding: 70px 0;  }
.sbanner > div { float: left; width: 25%; }
.sbanner > div h4 { font-size: 24px; padding-bottom: 4px; }
.sbanner > div h4 i { padding-left: 8px;}
.sbanner > div h4:hover { text-decoration: underline; }
.sbanner > div p { font-size: 16px; color: #676767; }

/* select */
.select { overflow: hidden; padding: 70px 0; }
.select h3 { float: left; font-size: 40px; width: 25%; color: #fff;}
.select > div { float: left; width: 17.5%; background-color: #2886ca; margin-left: 1.5%; padding: 3%; height: 300px;}
.select > div.simg1 { background: #2886ca url(../img/select-bg1.png) no-repeat 30px 210px; background-size: 90px; }
.select > div.simg2 { background: #2886ca url(../img/select-bg2.png) no-repeat 30px 220px; background-size: 90px; }
.select > div.simg3 { background: #2886ca url(../img/select-bg3.png) no-repeat 30px 230px; background-size: 90px; }
.select > div h4 { font-size: 18px; color: #fff; padding-bottom: 20px; } 
.select > div p { font-size: 15px; color: #fff; }

/* info */
.infor { padding: 70px 0; text-align: center; }
.infor h3 { font-size: 40px; padding-bottom: 20px; font-weight: 300; }
.infor p { font-size: 18px; color: #666; padding-bottom: 30px; }
.infor .info-box { overflow: hidden; text-align: left; padding: 0 210px; }
.infor .info-box h4 { font-size: 16px; color: #333; }
.infor .info-box h4 i { color: #0081c8;}
.infor .info-box .in-left { float: left; width: 50%; border-right: 1px solid #ccc; box-sizing: border-box; }
.infor .info-box .in-left em { font-size: 24px; color: #333; width: 170px; display: inline-block; font-weight: 700; }
.infor .info-box .in-left strong { font-size: 30px; color: #0081c8 }
.infor .info-box .in-right { float: left; width: 50%; padding-left: 50px; box-sizing: border-box; }
.infor .info-box .in-right li { font-size: 16px; color: #666; }


/* infor2 */
.infor2 { padding: 70px 0; text-align: center; }
.infor2 h3 { font-size: 40px; padding-bottom: 20px; font-weight: 300; }
.infor2 .infor-btn { display: inline-block; font-size: 16px; border: 1px solid #333; margin-bottom: 50px; padding: 12px 42px; background-color: #fff; transition: all .3s ease; }
.infor2 .infor-btn:hover { background-color: #000; color: #fff;}
.infor2 .infor-box { overflow: hidden; text-align: left; padding: 0 150px; }
.infor2 .infor-box .in-left { overflow: hidden; float: left; width: 50%; }
.infor2 .infor-box .in-left h4 { float: left; width: 110px; height: 80px; border-radius: 50%; background-color: #1d7abd; color: #fff; font-size: 16px; text-align: center; padding-top: 30px; }
.infor2 .infor-box .in-left ul { float: left; padding: 25px 0 0 20px; }
.infor2 .infor-box .in-left li { padding-bottom: 10px; font-size: 16px; }
.infor2 .infor-box .in-left li em { width: 160px; display: inline-block; }
.infor2 .infor-box .in-left li strong { color: #1d7abd; }
.infor2 .infor-box .in-right { float: left; width: 50%; }
.infor2 .infor-box .in-right h4 { float: left; width: 110px; height: 90px; border-radius: 50%; background-color: #1d7abd; color: #fff; font-size: 16px; text-align: center; padding-top: 20px; }
.infor2 .infor-box .in-right ul { float: left; padding: 25px 0 0 20px; }
.infor2 .infor-box .in-right li { padding-bottom: 10px; font-size: 16px; }
.infor2 .infor-box .in-right li em { width: 90px; display: inline-block; }
.infor2 .infor-box .in-right li strong { color: #1d7abd; }


/* ad */
.ad { padding: 70px 0; text-align: center; z-index: 10; position: relative; } /*z-index를 사용하기 위해서는 position이 있어야 한다. */
.ad h3 { font-size: 40px; padding-bottom: 20px; color: #fff; }
.ad p { font-size: 16px; color: #fff; }
.ad .view { font-size: 16px; padding: 12px 42px; margin-top: 50px; color: #fff; display: inline-block; border: 1px solid #fff; transition: all .3s ease; }
.ad .view:hover { background: #fff; color: #000;}

/* blog */
.blog { padding: 70px 0; } 
.blog h3 { font-size: 34px; margin-bottom: 50px; }
.blog .blog-wrap { margin-bottom: 80px; overflow: hidden; }
.blog .blog-wrap > div { float: left; width: 23.5%; margin-right: 2%; box-sizing: border-box; border-top: 2px solid #6f6f6f; }
.blog .blog-wrap > div:last-child { margin-right: 0;}
.blog .blog-wrap > div h4 { font-size: 22px; padding: 25px 0 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.blog .blog-wrap > div p { font-size: 16px; color: #7e7e7e; margin-bottom: 40px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.blog .blog-wrap > div figure img { width: 100%; }
.blog .notice-wrap { overflow: hidden; }
.blog .notice-wrap .nw-left { float: left; width: 780px; }
.blog .notice-wrap .nw-left h3 { font-size: 34px; margin-bottom: 20px; margin-right: 20px; display: inline-block; }
.blog .notice-wrap .nw-left .total { font-size: 14px; color: #666; }
.blog .notice-wrap .nw-left ul { border-top: 2px solid #6f6f6f; }
.blog .notice-wrap .nw-left li { overflow: hidden; padding: 20px 10px; border-bottom: 1px solid #e5e5e5;}
.blog .notice-wrap .nw-left li a { float: left; width: 80%; color: #666; font-size: 14px; }
.blog .notice-wrap .nw-left li span { float: right; width: 20%; text-align: right; font-size: 14px; color: #999; }
.blog .notice-wrap .nw-right { float: right; width: 385px; height: 257px; }
.blog .notice-wrap .nw-right h3 { font-size: 34px; margin-bottom: 20px; } 
.blog .notice-wrap .nw-right ul { border-top: 2px solid #6f6f6f; padding: 20px; border-bottom: 1px solid #e5e5e5; height: 145px; }
.blog .notice-wrap .nw-right li { padding: 12px 0; font-size: 16px; color: #666; }
.blog .notice-wrap .nw-right li span { background-color: #666; color: #fff; padding: 5px 10px; margin-right: 20px; }

/* site */
.site { overflow: hidden; padding: 70px 0; }
.site > div { float: left; width: 16.6%; }
.site > div.two { width: 33.2%; }
.site > div.two ul { overflow: hidden;}
.site > div.two li { float: left; width: 50%; }
.site > div h4 { font-size: 16px; font-weight: bold; padding-bottom: 20px; } 
.site > div li { padding-bottom: 5px; }
.site > div li a { font-size: 15px; color: #666; }

/* footer */
.footer { padding: 50px 0; position: relative; }
.footer .policy { padding-bottom: 30px; }
.footer .policy li { display: inline-block; padding-right: 20px; padding-left: 10px; position: relative; }
.footer .policy li::before { content: ''; width: 1px; height: 18px; background-color: #ccc; position: absolute; right: 0; top: 3px;}
.footer .policy li:first-child { padding-left: 0;}
.footer .policy li:last-child::before { width: 0; height: 0;}
.footer .policy li a { font-size: 16px; }
.footer .policy li:last-child a { color: #1d7adb; }
.footer .address { color: #666; font-size: 14px;}
.footer .address li { padding-bottom: 5px; }
.footer .address span { padding-right: 20px; }
.footer .address p { padding: 20px 0; }
.footer .icon { overflow: hidden; }
.footer .icon li { float: left; padding-right: 20px; }
.footer .icon li:last-child { padding-top: 10px;}
.footer .family { position: absolute; right: 0; top: 50px;}
.footer .family select { background-color: #fff; width: 145px; height: 44px; padding-left: 5px; margin-right: 5px; }
.footer .family button { padding: 10px 15px 11px; border: 1px solid #cfd5da; font-size: 14px; color: #707070;  }


/* sub page layout */
#sub-banner { background: url(../img/server-bg1.png) repeat-x top center; }
#product-table { }
#select2 { background-color: #1d7abd; }
#infor2 { }
#select5 { background-color: #1d7abd; }

/* sub-banner */
.sub-banner { padding: 80px 0; overflow: hidden; }
.sub-banner .sb-left { float: left; width: 760px; }
.sub-banner .sb-left h2 { font-size: 40px; color: #fff; }
.sub-banner .sb-left p { font-size: 16px; color: #fff; }
.sub-banner .sb-right { float: right; width: 410px; padding-top: 15px; }
.sub-banner .sb-right li { display: inline; margin-left: 10px; }
.sub-banner .sb-right li a { color: #b2ddf9; font-size: 18px; border: 2px solid #b2ddf9;
     border-radius: 50px; width: 65px; height: 50px; display: inline-block; padding-left: 55px; line-height: 50px; }
.sub-banner .sb-right li.ic1 a { background: url(../img/server-icon1.png) no-repeat 18px 13px; }
.sub-banner .sb-right li.ic2 a { background: url(../img/server-icon2.png) no-repeat 18px 13px; }
.sub-banner .sb-right li.ic3 a { background: url(../img/server-icon3.png) no-repeat 18px 13px; }
.sub-banner .sb-right li a:hover { color: #fff; border-color: #fff; }

/* product-table */
.product-table { padding: 80px 0; }
.product-table .more { text-align: center; padding: 20px 0 30px; font-size: 14px; }
.product-table .list {   }
.product-table .list li { position: relative; font-size: 14px; padding-left: 10px; line-height: 28px; }
.product-table .list li::before { content: ''; position: absolute; left: 0; top: 12px; width: 3px; height: 3px; background-color: #000; border-radius: 50%;}
.product-table .list .help { font-size: 18px; }

/* table-title1*/
.table-title1 { position: relative; padding-bottom: 20px; }
.table-title1 li { display: inline; }
.table-title1 li a { font-size: 18px; color: #999; padding: 0 10px; }
.table-title1 li.active a { color: #333; }
.table-title1 .detail { position: absolute; right: 0; top: 0; font-size: 18px; color: #1d7abd; }

/* table-style1*/
.table-style1 { }
.table-style1 table { border-top: 2px solid #6f6f6f; border-bottom: 1px solid #9a9a9a; font-size: 16px; text-align: center; color: #666; }
.table-style1 table thead { }
.table-style1 table thead th { background-color: #f9fafc; padding: 20px 30px; border-bottom: 1px solid #ccc; border-right: 1px solid #e4e4e4;}
.table-style1 table thead th:last-child { border-right: 0;}
.table-style1 table tbody { }
.table-style1 table tbody td { padding: 20px 30px; border-bottom: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4; }
.table-style1 table tbody td:last-child { border-right: 0;}

.table-style1 .left { text-align: left; }
.table-style1 .center { text-align: center; }
.table-style1 .black { color: #000; }
.table-style1 .hot { background-color: #ff9900; color: #fff; font-size: 14px; padding: 2px 10px 0px 10px; display: inline-block; vertical-align: 4px; line-height: 20px;}
.table-style1 .large { font-size: 28px; line-height: 38px; }
.table-style1 .small { font-size: 12px; }
.table-style1 .view { display: inline-block; padding: 5px 45px; color: #fff; background-color: #3090d6; font-size: 16px; }

/* select2 */
.select2 { overflow: hidden; padding: 70px 0; }
.select2 h3 { float: left; width: 33.333%;; font-size: 40px; color: #fff;}
.select2 > div { float: left; width: 25.8333%; background-color: #2886ca; margin-left: 1.5%; padding: 3%; height: 300px; }
.select2 > div.simg1 {  background: #2886ca url(../img/select-bg1.png) no-repeat 30px 30px; background-size: 90px;  }
.select2 > div.simg2 {  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px; background-size: 90px; }
.select2 > div h4 { font-size: 18px; color: #fff; padding-bottom: 20px; padding-top: 150px; } 
.select2 > div p { font-size: 15px; color: #fff; }

/* select5 */
.select5 { overflow: hidden; padding: 70px 0; }
.select5 h3 { float: left; width: 32.333%;; font-size: 40px; color: #fff; margin-right: 1.5%; }
.select5 > div { float: left; width: 26.333%; background-color: #2886ca; margin-right: 1.5%; padding: 3%; height: 300px; margin-bottom: 1.5%; }
.select5 > div.simg1 {  background: #2886ca url(../img/select-bg1.png) no-repeat 30px 30px; background-size: 90px;  }
.select5 > div.simg2 {  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px; background-size: 90px; margin-right: 0%; }
.select5 > div.simg3 {  background: #2886ca url(../img/select-bg3.png) no-repeat 30px 30px; background-size: 90px;  }
.select5 > div.simg4 {  background: #2886ca url(../img/select-bg1.png) no-repeat 30px 30px; background-size: 90px; }
.select5 > div.simg5 {  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px; background-size: 90px; margin-right: 0%; }
.select5 > div h4 { font-size: 18px; color: #fff; padding-bottom: 20px; padding-top: 150px; } 
.select5 > div p { font-size: 15px; color: #fff; }
